body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: sans-serif;
    min-height: 100vh;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
}

.header > .content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.right-links {
    flex-grow: 1;
    display: flex;
    justify-content: right;
}

.header-logo {
    flex-grow: 1;
}


.right-links > a {
    color: #f9faf8;
}

/* slice 1 */